div#ct-menu,
div#ct-indicator-cards-view {
    background-color: #43494e;
}

.form-type-textfield input,
.form-select.form-control-lg {
    background-color: #919191;
}

main.main-content div.alert.alert-dismissible {
    position: fixed;
    z-index: 10;
}

#block-indicatorcard div.alert.alert-warning {
  position: relative;
  width: 90%;
  margin-left: 5%;
}

.form-control.form-control-lg,
.form-select.form-control-lg {
    border: 1px solid #bebebe;
    margin: 0;
	width: 100%;
}

div[data-drupal-selector="edit-actions"] {
    margin: 0px !important;
    display: flex;
}

div > #navbar-main {
    background-color: rgb(56 60 64) !important;
    z-index: 100;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons {
  z-index: 10000;
}

.chosen-container .chosen-drop {
  border-color: #bebebe;
  background: #43494e;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}


/* @end */
/* @group Single Chosen */

.chosen-container-single .chosen-default {
  color: #999;
}

.chosen-container-single .chosen-search input[type="text"] {
  border-color: #bebebe;
  color: #505050;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #e3e3e3;
}


.chosen-container .chosen-results li.disabled-result {
  color: #505050;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #ffb71d;
  color: #fff;
}

.chosen-container .chosen-results li.no-results {
  color: #e3e3e3;
  background: #1f1d1d;
}


/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  border-color: #333;
  background: #212121;
}

.views-exposed-form .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  color: #e3e3e3;
  border-radius: 0px;
}

.views-exposed-form .chosen-container-multi .chosen-choices li.search-choice {
  border-color: #000;
  background-color: #212121;
  box-shadow: 0 0 2px #5d5d5d  inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #e3e3e3;
}


.views-exposed-form .chosen-container-multi .chosen-choices li.search-choice-disabled {
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  color: #666;
}

.views-exposed-form .chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}


.views-exposed-form .chosen-container-multi .chosen-drop .result-selected {
  color: #505050;
}

/* @end */
/* @group Active  */

.views-exposed-form .chosen-container-active .chosen-choices {
  border: 1px solid #ffb71d;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.views-exposed-form .chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #e3e3e3!important;
  border-radius: 0px;
}

/* @end */
/* @group Disabled Support */
.views-exposed-form .chosen-disabled {
  opacity: 0.5 !important;
}

.views-exposed-form .chosen-rtl .chosen-search input[type="text"] {
  color: #e3e3e3;
  background: url("chosen-sprite.png") no-repeat -30px -20px;
}

.views-exposed-form .chosen-container .chosen-results li em {
  background: #808080;
}

.views-exposed-form .chosen-container-single .chosen-search input[type="text"] {
    background-size: 76px 55px;
    background-position-y: -30px;
    border-radius: 0px;
}

label[for="edit-target"] {
    text-wrap: nowrap;
}

.menu-open-indicator {
    font-size: 30px !important;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    width: 50px!important;
    height: 50px!important;
    line-height: 50px;
}

.source-ec-jrc{
    background: #414c54 !important;
}
.ec-jrc-input{
  background-color: #414c54 !important;
  border-color: #bebebe !important
}

.source-not-ec-jrc{
  background: #2f3438 !important;
}
.check-filter input,
.check-filter label{
  cursor: pointer;
}

.check-filter label{
  margin-right: 30px;
	width: 100%;
    text-align: left;
}
.check-filter input{
  pointer-events: none;
}

.not-ec-jrc-input{
background-color: #2f3438 !important;
border-color: #bebebe !important
}

.card.indicator-card hr {
    border-top: 2px solid #757d82 !important;
    width: 90% !important;
}
input[type='range'] {
  height: 22px;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  height: 5px;
  background: #AAA;
  border-radius: 1rem;
}
input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 20px;
  width: 20px;
  margin-top: -8px;
  background: rgb(83, 83, 83);
  border-radius: 50%;
  border: 2px solid white;
}
input[type='range']::-webkit-slider-thumb::before {
  position: absolute;
  content: '';
  height: 50px; /* equal to height of runnable track */
  width: 500px; /* make this bigger than the widest range input element */
  left: -502px; /* this should be -2px - width */
  top: 8px; /* don't change this */
  background: #777;
}

.grab, .grab-all {
  cursor: grab;
}

.grab:active, .grab-all:active { cursor: grabbing; }

div#block-indicatorcard {
  background: #43494d75;
  overflow-x: hidden;
}
.btn-outline-secondary {
  --bs-btn-border-color: transparent;
}

.akp-mapping-link{
  display: none;
}

.me-2 {
  margin-right: 0 !important;
}

.indicator-nrt, .indicator-timeseries{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  left: -3px;
}

.indicator-nrt{
  top: 5px;
}

.indicator-timeseries{
  top: 42px;
}

.indi-menu-btn {
  width: 40px;
}
#menu-container{
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;  
}

.collapse-column {
  flex-grow: 0!important;
  padding-left: 0!important;
  padding-right: 0!important;
  width: 0px !important;
}

button.btn.btn-expand-map.collapseActivated {
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}

.mapboxgl-ctrl.mapbox-expand-map {
  bottom: 100px;
  position: relative;
  background: #43494d;
  left: -10px;
}

.nav-tabs {
  --bs-nav-tabs-border-width: var(--bs-border-width);
  --bs-nav-tabs-border-color: var(--bs-border-color);
  --bs-nav-tabs-border-radius: var(--bs-border-radius);
  --bs-nav-tabs-link-hover-border-color: #919191;
  --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
  --bs-nav-tabs-link-active-bg: #919191;
  --bs-nav-tabs-link-active-border-color: #919191;
}

#menu-indicator-cards .card hr {
  border-top: 1px solid #6c757d !important;
}