/* 

Legend

*/

.wrapper-Vertical {
    display: flex;
}

.wrapper-Vertical .wrapper-layer-legend-colors,
.wrapper-Vertical .wrapper-layer-legend-labels {
    flex-direction: column;
}
.icon-choropleth,
.icon-gradient,
.legendClassLabel{
    flex-grow: 1;
    flex-basis: 0;
    min-height:10px;
    margin-left:2px;
    font-size:12px;
}

.wrapper-Vertical .icon-choropleth,
.wrapper-Vertical .icon-gradient,
.wrapper-Vertical .legendClassLabel{
    min-height:unset !important;
    margin: 2px;
}

.icon-choropleth {
    height: 14px;
    width: 18px;
    padding: 0;
    border: 0;
}

.wrapper-Vertical .icon-choropleth {
    border-radius: 50%;
}

.labels-gradient div:last-child {
    text-align: right;
}

.wrapper-Vertical .labels-gradient div:last-child{
    text-align: unset !important;
}

.legendClassLabel {
    text-wrap: nowrap;
}

.wrapper-layer-legend.wrapper-Vertical {
    display: flex;
    overflow: auto;
}