#block-akpheaderblock,
#scrollTop,
#edit-actions, hr
{
display: none;
}

.webform-multiple-table--handle,
.webform-multiple-table--operations, 
.webform-multiple-table--operations-two,
.tabledrag-toggle-weight-wrapper
{
	display: none;
}

table th, form label {
    color: #002f67 !important;
}

form span.fieldset-legend {
    font-size: 40px;
}

.table {
    --bs-table-color: #002f67 !important;
}

.table>:not(caption)>*>* {
    color: #000 !important;
}

.form-check-input {
    --bs-form-check-bg: #fff !important;
}