form#views-exposed-form-protected-area-search-block-1 div.form-item-title, 
input#edit-title{
    width: 100%;
}

hr#modules{
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}