.webform-multiple-table td input[type="image"] {
    display: inline;
    width: unset;
    filter: invert(1) !important;
}

ul.webform-progress-tracker.progress-tracker.progress-tracker--center {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0px !important;
}

li.progress-step {
    text-align: center;
}

.form-control {
    width: unset;
}

.form-actions {
    display: flex;
}

input#edit-wizard-next,
input#edit-submit {
    margin-left: auto;
}

a.tabledrag-handle .handle {
    width: 32px;
    height: 32px;
    margin: 0px;
    padding: 0px;
}
a.tabledrag-handle .handle:hover {
    filter: invert(1) !important;
}

.container-inline div, .container-inline label {
    display: inline-flex;
}

.input-group-append .input-group-text {
    background-color: unset;
    border: unset; 
}

.form-type-number > div.input-group > input {
    font-size: 15px;
}

.webform-progress-tracker .progress-step.is-active .progress-text, .webform-progress-tracker .progress-step.is-complete .progress-text {
    color: #51b46a;
}