{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list:
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_simple_timeline()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('simple_timeline/timeline') }}
{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}
  {% if user.hasPermission('create event content') %}
  <a class="btn btn-primary mb-3" href="/node/add/event" target="_blank" style="right: 0;">
      <i class="fas fa-plus"></i> {% trans %}Add event{% endtrans %}
  </a>
  {% endif %}

  <ul {{ list.attributes }}>

    {% for row in rows %}
      <li{{ row.attributes }}>
        <div class="timeline-item-wrapper clearfix">
          <span class="timeline-marker"></span>
          {{ row.content }}
        </div>
      </li>
    {% endfor %}

  </ul>

{% if attributes -%}
  </div>
{% endif %}
