{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<div class="row">
    {# {{kint(form)}} #}
    <div class="col-12">
        {{ form.search }}
    </div>
    <div class="col-lg-6 col-md-12">
        {{ form.tid }}
    </div>
    <div class="col-lg-6 col-md-12">
        {{ form.target }}
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="fst-italic">
            <div class="col d-flex">
                <div class="d-flex flex-row-reverse check-filter form-check w-100 p-0">
                    <input class="form-check-input p-2 rounded-0 ec-jrc-input" type="checkbox" value="" id="ecChecked" role="presentation" checked>
                    <label class="form-check-label ec-jrc-label" for="ecChecked">
                        European Commission Datasets
                    </label>
                </div>
            </div>
            <div class="col d-flex">
                <div class="d-flex flex-row-reverse check-filter form-check w-100 p-0">
                    <input class="form-check-input p-2 rounded-0 not-ec-jrc-input" type="checkbox" value="" id="nonecChecked" role="presentation" checked>
                    <label class="form-check-label not-ec-jrc-label" for="nonecChecked">
                        Third Parties Datasets
                    </label>
                </div>    
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12" style="align-content: end;">
        {{ form.actions }}
    </div>
</div>


