 {#
/**
* @file
* view: The view in use.
* fields: A list of fields, each one contains:
* content: The output of the field.
* raw: The raw data for the field, if it exists. This is NOT output safe.
* class: The safe class ID to use.
* handler: The Views field handler controlling this field.
* inline: Whether or not the field should be inline.
* wrapper_element: An HTML element for a wrapper.
* wrapper_attributes: List of attributes for wrapper element.
* separator: An optional separator that may appear before a field.
* label: The field's label text.
* label_element: An HTML element for a label wrapper.
* label_attributes: List of attributes for label wrapper.
* label_suffix: Colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* has_label_colon: A boolean indicating whether to display a colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* row: The raw result from the query, with all data it fetched.
 */
#}
<div id="menuID-{{ fields.nid.content }}" class="card menu-indicator-card rounded-0 p-0 source-{{ fields.title_3.content|lower }}" style="background-color: #2f3438;">
	<div class="card-image">
        <img class="card-img-top rounded-0" src="{{ fields.field_indicator_image.content }}" alt="Card image cap"> 
        <div class="image-overlay d-flex align-items-end">
			{% if fields.field_layer_server_type.content|trim in ["timeseries", "Edo"] %}
				<div class="indicator-timeseries btn btn-warning btn-sm border-start-radius-0 float-start position-absolute">
					Timeseries
				</div>
			{% endif %}
			{% if "Real Time" in fields.field_indicator_topic.content|trim  %}
				<div class="indicator-nrt btn btn-warning btn-sm border-start-radius-0 float-start position-absolute">
					Near realtime
				</div>
			{% endif %}
            <div class="col-sm-12 d-flex justify-content-end align-items-end menu-open-indicator-wrapper">
				<div data-bs-toggle="tooltip" title="Add to Map" class="text-white p-0 m-3 align-self-center menu-open-indicator btn btn-warning rounded-circle" role="tooltip">
					<i class="fa-solid fa-plus"></i>
				</div>
			</div>
        </div>
    </div>
	<div class="card-body d-flex flex-column justify-content-between">
		<div class="row d-flex align-items-center">
			<div class="col-sm-10">
	  			<div class="h6 fw-bold">{{ fields.title.content }}</div>
			</div>
			<div class="col-sm-2 d-flex justify-content-center menu-open-indicator-wrapper">
				<span data-bs-toggle="tooltip" title="More Info" role="tooltip">
					<a href="/indicator_teaser/{{ fields.nid.content|trim }}" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon use-ajax" data-dialog-type="bootstrap4_modal" data-dialog-options="{&quot;dialogClasses&quot;:&quot;modal-dialog-centered&quot;,&quot;dialogShowHeader&quot;:false}" aria-label="More info">
						<i class="fa-regular fa-note-sticky"></i>
					</a>
				</span>
			</div>
		</div>
		<hr class="m-3">
	  	<div class="row">
			<div class="col-4">
				{% if fields.field_layer_related_tools.content is not empty %}
					<a class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle mx-1 indicator-actions-icon" target="_blank" href="{{ fields.field_layer_related_tools.content }}" data-bs-toggle="tooltip" title="Related Tool (new tab)">
						<i class="fa-solid fa-up-right-from-square"></i>
					</a>
				{% endif %}
			</div>
			<div class="col-4">
				{% if fields.field_layer_data_download.content is not empty %}
					<a class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle mx-1 indicator-actions-icon" href="{{ fields.field_layer_data_download.content }}" data-bs-toggle="tooltip" title="Download Data">
						<i class="fa-solid fa-cloud-arrow-down"></i>
					</a>
				{% endif %}
			</div>
			<div class="col-4">
				{% if fields.view_node.content is not empty %}
					<a class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle mx-1 indicator-actions-icon" target="_blank" href="/node/{{ fields.nid.content|trim }}" data-bs-toggle="tooltip" title="View Metadata (new tab)">
						<i class="fa-solid fa-align-left"></i>
					</a>
				{% endif %}
			</div>
		</div>
		<div class="hidden">
			<div class="indicator-nid">
				{{ fields.nid.content }}
			</div>
		</div>
	</div>
</div>