<div class="view-content row justify-content-center">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <a href="/page"> </a>
        <div class="card  m-2 ">
            <a href="/page"> </a>
            <div class="card-body">
                <a href="/page">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-4">
                            <div class="dashboard-image-icon">
                                <img
                                    src="/sites/default/files/landingpage/2022-06/manage_accounts_white_24dp%20%281%29.svg"
                                />
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h6 class="masthead-subheading mb-0">
                                Protected Areas Governance and Equity
                            </h6>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <a href="/page">
                        <div class="col-sm-4"></div>
                    </a>
                    <div class="col-sm-4">
                        <a href="/page"> </a
                        >
                    </div>
                    <div class="col-sm-4">
                        <a
                            href="/node/23591"
                            data-bs-toggle="tooltip"
                            class="use-ajax add-policy btn btn-secondary btn-sm rounded-circle tooltipified"
                            data-dialog-type="modal"
                            data-dialog-options='{"width":600}'
                            data-once="ajax"
                            aria-label="More info"
                            data-bs-original-title="More info"
                        >
                            <i class="fa-solid fa-info" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <a href="/dashboard"> </a>
        <div class="card  m-2 ">
            <a href="/dashboard"> </a>
            <div class="card-body">
                <a href="/dashboard">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-4">
                            <div class="dashboard-image-icon">
                                <img
                                    src="/sites/default/files/landingpage/2022-06/bar_chart_white_24dp%20%281%29.svg"
                                />
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h6 class="masthead-subheading mb-0">
                                Protected Area Dashboard
                            </h6>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <a href="/dashboard">
                        <div class="col-sm-4"></div>
                    </a>
                    <div class="col-sm-4">
                        <a href="/dashboard"> </a
                        >
                    </div>
                    <div class="col-sm-4">
                        <a
                            href="/node/18774"
                            data-bs-toggle="tooltip"
                            class="use-ajax add-policy btn btn-secondary btn-sm rounded-circle tooltipified"
                            data-dialog-type="modal"
                            data-dialog-options='{"width":600}'
                            data-once="ajax"
                            aria-label="More info"
                            data-bs-original-title="More info"
                        >
                            <i class="fa-solid fa-info" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <a href="/pame"> </a>
        <div class="card  m-2 ">
            <a href="/pame"> </a>
            <div class="card-body">
                <a href="/pame">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-4">
                            <div class="dashboard-image-icon">
                                <img
                                    src="/sites/default/files/landingpage/2022-06/ssid_chart_white_24dp%20%281%29.svg"
                                />
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h6 class="masthead-subheading mb-0">
                                Protected Area Management Effectiveness
                            </h6>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <a href="/pame">
                        <div class="col-sm-4"></div>
                    </a>
                    <div class="col-sm-4">
                        <a href="/pame"> </a
                        >
                    </div>
                    <div class="col-sm-4">
                        <a
                            href="/node/18789"
                            data-bs-toggle="tooltip"
                            class="use-ajax add-policy btn btn-secondary btn-sm rounded-circle tooltipified"
                            data-dialog-type="modal"
                            data-dialog-options='{"width":600}'
                            data-once="ajax"
                            aria-label="More info"
                            data-bs-original-title="More info"
                        >
                            <i class="fa-solid fa-info" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <a href="https://geonode-rris.biopama.org/"> </a>
        <div class="card  m-2 ">
            <a href="https://geonode-rris.biopama.org/"> </a>
            <div class="card-body">
                <a href="https://geonode-rris.biopama.org/">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-4">
                            <div class="dashboard-image-icon">
                                <img
                                    src="/sites/default/files/landingpage/2022-06/layers_white_24dp%20%281%29.svg"
                                />
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h6 class="masthead-subheading mb-0">
                                Sharing Spatial Data on Protected Areas
                            </h6>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <a href="https://geonode-rris.biopama.org/">
                        <div class="col-sm-4"></div>
                    </a>
                    <div class="col-sm-4">
                        <a href="https://geonode-rris.biopama.org/"> </a
                        >
                    </div>
                    <div class="col-sm-4">
                        <a
                            href="/node/18790"
                            data-bs-toggle="tooltip"
                            class="use-ajax add-policy btn btn-secondary btn-sm rounded-circle tooltipified"
                            data-dialog-type="modal"
                            data-dialog-options='{"width":600}'
                            data-once="ajax"
                            aria-label="More info"
                            data-bs-original-title="More info"
                        >
                            <i class="fa-solid fa-info" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <a href="/biopama_analytical_tools"> </a>
        <div class="card  m-2 ">
            <a href="/biopama_analytical_tools"> </a>
            <div class="card-body">
                <a href="/biopama_analytical_tools">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-4">
                            <div class="dashboard-image-icon">
                                <img
                                    src="/sites/default/files/landingpage/2022-06/architecture_white_24dp%20%281%29.svg"
                                />
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h6 class="masthead-subheading mb-0">
                                BIOPAMA Analytics
                            </h6>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <a href="/biopama_analytical_tools">
                        <div class="col-sm-4"></div>
                    </a>
                    <div class="col-sm-4">
                        <a href="/biopama_analytical_tools"> </a
                        >
                    </div>
                    <div class="col-sm-4">
                        <a
                            href="/node/18792"
                            data-bs-toggle="tooltip"
                            class="use-ajax add-policy btn btn-secondary btn-sm rounded-circle tooltipified"
                            data-dialog-type="modal"
                            data-dialog-options='{"width":600}'
                            data-once="ajax"
                            aria-label="More info"
                            data-bs-original-title="More info"
                        >
                            <i class="fa-solid fa-info" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <a href="/documents"> </a>
        <div class="card  m-2 ">
            <a href="/documents"> </a>
            <div class="card-body">
                <a href="/documents">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-4">
                            <div class="dashboard-image-icon">
                                <img
                                    src="/sites/default/files/landingpage/2022-10/books-stack-of-three-svgrepo-com.png"
                                />
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h6 class="masthead-subheading mb-0">Documents</h6>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <a href="/documents">
                        <div class="col-sm-4"></div>
                    </a>
                    <div class="col-sm-4">
                        <a href="/documents"> </a
                        >
                    </div>
                    <div class="col-sm-4">
                        <a
                            href="/node/24245"
                            data-bs-toggle="tooltip"
                            class="use-ajax add-policy btn btn-secondary btn-sm rounded-circle tooltipified"
                            data-dialog-type="modal"
                            data-dialog-options='{"width":600}'
                            data-once="ajax"
                            aria-label="More info"
                            data-bs-original-title="More info"
                        >
                            <i class="fa-solid fa-info" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <a href="https://wdpaversiontracker.biopama.org/"> </a>
        <div class="card  m-2 ">
            <a href="https://wdpaversiontracker.biopama.org/"> </a>
            <div class="card-body">
                <a href="https://wdpaversiontracker.biopama.org/">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-4">
                            <div class="dashboard-image-icon">
                                <img src="/{{ theme_path }}/images/icons/timeline.png"/>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h6 class="masthead-subheading mb-0">
                                WDPA Version Tracker
                            </h6>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <a href="https://wdpaversiontracker.biopama.org/">
                        <div class="col-sm-4"></div>
                    </a>
                    <div class="col-sm-4">
                        <a href="https://wdpaversiontracker.biopama.org/"> </a>
                    </div>
                    <div class="col-sm-4">
                        <a
                            href="/node/24262"
                            data-bs-toggle="tooltip"
                            class="use-ajax add-policy btn btn-secondary btn-sm rounded-circle tooltipified"
                            data-dialog-type="modal"
                            data-dialog-options='{"width":600}'
                            data-once="ajax"
                            aria-label="More info"
                            data-bs-original-title="More info"
                        >
                            <i class="fa-solid fa-info" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
