<div class="container">
    <h1>Go to:</h1>
    <div class="p-3 bg-gray-1200" id="searchTabs">
        <ul id="searchTabs" class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link p-3 fs-3" id="country-search-tab" data-bs-toggle="pill" data-bs-target="#country-search" type="button" role="tab" aria-controls="country-search" aria-selected="false" tabindex="-1">Country</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link p-3 fs-3 active" id="pa-search-tab" data-bs-toggle="pill" data-bs-target="#pa-search" type="button" role="tab" aria-controls="pa-search" aria-selected="true">Protected Area</button>
            </li>
        </ul>
    </div>
    <div class="tab-content p-5 bg-gray-1200" id="searchTabContent">
        <div class="tab-pane fade" id="country-search" role="tabpanel" aria-labelledby="country-search-tab">
            <div id="biopama-country-search">
            <select id="country-selector" data-placeholder="Choose a country..." class="biopama-country-selector chosen-select form-control text-bg-dark"><option value="" disabled="" selected="">Select a country</option><optgroup label="Eastern Africa"></optgroup><option value="DJ">Djibouti</option><option value="ER">Eritrea</option><option value="ET">Ethiopia</option><option value="KE">Kenya</option><option value="RW">Rwanda</option><option value="SO">Somalia</option><option value="SS">South Sudan</option><option value="SD">Sudan</option><option value="TZ">Tanzania, United Republic of</option><option value="UG">Uganda</option><optgroup label="Southern Africa"></optgroup><option value="AO">Angola</option><option value="BW">Botswana</option><option value="KM">Comoros</option><option value="SZ">Eswatini</option><option value="LS">Lesotho</option><option value="MG">Madagascar</option><option value="MW">Malawi</option><option value="MU">Mauritius</option><option value="MZ">Mozambique</option><option value="NA">Namibia</option><option value="SC">Seychelles</option><option value="ZA">South Africa</option><option value="ZM">Zambia</option><option value="ZW">Zimbabwe</option><optgroup label="Western Africa"></optgroup><option value="BJ">Benin</option><option value="BF">Burkina Faso</option><option value="CV">Cabo Verde</option><option value="CI">Côte d'Ivoire</option><option value="GM">Gambia</option><option value="GH">Ghana</option><option value="GN">Guinea</option><option value="GW">Guinea-Bissau</option><option value="LR">Liberia</option><option value="ML">Mali</option><option value="MR">Mauritania</option><option value="NE">Niger</option><option value="NG">Nigeria</option><option value="SN">Senegal</option><option value="SL">Sierra Leone</option><option value="TG">Togo</option><optgroup label="Central Africa"></optgroup><option value="BI">Burundi</option><option value="CM">Cameroon</option><option value="CF">Central African Republic</option><option value="TD">Chad</option><option value="CG">Congo</option><option value="CD">Congo (Democratic Republic of the)</option><option value="GQ">Equatorial Guinea</option><option value="GA">Gabon</option><option value="ST">Sao Tome and Principe</option><optgroup label="Caribbean"></optgroup><option value="AG">Antigua and Barbuda</option><option value="BS">Bahamas</option><option value="BB">Barbados</option><option value="BZ">Belize</option><option value="CU">Cuba</option><option value="DM">Dominica</option><option value="DO">Dominican Republic</option><option value="GD">Grenada</option><option value="GY">Guyana</option><option value="HT">Haiti</option><option value="JM">Jamaica</option><option value="KN">Saint Kitts and Nevis</option><option value="LC">Saint Lucia</option><option value="VC">Saint Vincent and the Grenadines</option><option value="SR">Suriname</option><option value="TT">Trinidad and Tobago</option><optgroup label="Pacific"></optgroup><option value="CK">Cook Islands</option><option value="FJ">Fiji</option><option value="KI">Kiribati</option><option value="MH">Marshall Islands</option><option value="FM">Micronesia (Federated States of)</option><option value="NR">Nauru</option><option value="NU">Niue</option><option value="PW">Palau</option><option value="PG">Papua New Guinea</option><option value="WS">Samoa</option><option value="SB">Solomon Islands</option><option value="TL">Timor-Leste</option><option value="TO">Tonga</option><option value="TV">Tuvalu</option><option value="VU">Vanuatu</option></select></div>
        </div>
        <div class="tab-pane fade active show" id="pa-search" role="tabpanel" aria-labelledby="pa-search-tab">
            <div class="contextual-region">
                <div data-contextual-id="entity.view.edit_form:view=protected_area_search&amp;display_id=block_1:" data-contextual-token="l6rllDW9mCN4Xa5NfPJmVD8kndIoAyrp9HDnJo2YlUw" data-once="contextual-render" class="contextual"><button class="trigger visually-hidden focusable" type="button" aria-pressed="false">Open  configuration options</button><ul class="contextual-links" hidden=""><li class="entityviewedit-form"><a href="/admin/structure/views/view/protected_area_search/edit/block_1?destination=/landingpage">Edit view</a></li><li class="config-translationcontextual-linksentityviewconfig-translation-overview"><a href="/admin/structure/views/view/protected_area_search/translate?display_id=block_1&amp;destination=/landingpage">Translate view</a></li></ul></div>
                <div class="views-element-container"><div class="view view-protected-area-search view-id-protected_area_search view-display-id-block_1 js-view-dom-id-a2883eeacd8e4c595e3dc6e8ef1fba62530db64b82dd2eafcb81a1bd436a7639" data-once="ajax-pager">
  
  
<div class="contextual-region">
  
</div>

  
  
<form class="views-exposed-form bef-exposed-form" data-bef-auto-submit-full-form="" data-bef-auto-submit="" data-bef-auto-submit-delay="500" data-drupal-selector="views-exposed-form-protected-area-search-block-1" action="/landingpage" method="get" id="views-exposed-form-protected-area-search-block-1" accept-charset="UTF-8" data-once="exposed-form bef-auto-submit">
  <div class="form-row">
  





  <div class="js-form-item js-form-type-textfield form-type-textfield js-form-item-title form-item-title mb-3">
          
                    <input placeholder="Enter the Protected Area Name" data-drupal-selector="edit-title" type="text" id="edit-title" name="title" value="" size="30" maxlength="128" class="form-control form-control-lg rounded-0">

                      </div>
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-group" id="edit-actions"><input data-bef-auto-submit-click="" class="js-hide button js-form-submit form-submit btn btn-primary form-control form-control-lg rounded-0" data-drupal-selector="edit-submit-protected-area-search" type="submit" id="edit-submit-protected-area-search" value="Apply">
</div>

</div>

</form>

  

      <div class="view-empty">
      
    </div>
  
  
  
  

  
  
</div>
</div>

            </div>
        </div>
        <div class="search-info text-align-right">
        To make a selection from a map visit the <a href="/explore_maps" target="_blank">Datasets Page</a>
        </div>
    </div>
</div>