{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}

{{ attach_library( 'akp/partner_map' ) }}
{{ attach_library( 'akp/rcoe_biodiversity_forest' ) }}

<div{{ attributes }}>
  {# <h2 class="text-align-center">
    Click <a href="/RCoEs_Biodiversity_Forest#modules">here</a> to see the Biodiversity and Forest modules.
  </h2> #}
  {{ title_prefix }}
  {% if name and not page %}
    <h2><a href="{{ url }}">{{ name }}</a></h2>
  {% endif %}
  {{ title_suffix }}
  {{ content.description.0 }}
  <div class="contextual-region">
    {{ drupal_contextual_links('entity.view.edit_form:view=akp_partners_rcoe&display_id=block_2:') }}
    {{ drupal_view('akp_partners_rcoe', 'block_2') }}
  </div>
  <hr id="modules">
  <hr class="mt-5">
  {% include '@akp/templates/taxonomy/biopama-cards.html.twig' %}
  {% include '@biopama_landingpage/templates/biopama-search-block.html.twig' %}
  {# {% include '@akp/templates/taxonomy/search-widget.html.twig' %} #}
  <hr>
  <div class="h1 text-uppercase text-center">Available Resources</div>
  <div class="contextual-region">
    {{ drupal_contextual_links('entity.view.edit_form:view=taxonomy_term_rcoe&display_id=block_1:') }}
    {{ drupal_view('taxonomy_term_rcoe', 'block_1') }}
  </div>
</div>