{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}

{% set tid = term.id %}

<div id="arcx-{{term.id}}" class="container-fluid p-0 arcx-bg-white">
    <div class="container px-0  py-5">
        <div id="{{term.id}}"></div>
        <div class="row justify-content-center mt-5">
            {{ title_prefix }}
            <div class="h1 text-center">{{ name }}</div>
            {{ title_suffix }}
            <hr>
        </div>
        <div class="row">
            <div class="col-4">
                {% if user.hasPermission('create event content') %}
                  <a class="btn btn-sm btn-secondary" href="/taxonomy/term/{{term.id}}/edit" style="right: 0;">
                    {% trans %}Edit Action{% endtrans %}
                  </a>
                {% endif %}
                {{ content.field_rcoe_thumbnail}}
            </div>
            <div class="col-8">

              <ul class="nav nav-tabs" id="arcx-tabs-{{term.id}}" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="project-tab-{{term.id}}" data-bs-toggle="tab" data-bs-target="#project-tab-pane-{{term.id}}" type="button" role="tab" aria-controls="project-tab-pane-{{term.id}}" aria-selected="true">Project Card</button>
                </li>
                {# hide for Transversal #}
                {% if term.id != 935 %} 
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="partners-tab-{{term.id}}" data-bs-toggle="tab" data-bs-target="#partners-tab-pane-{{term.id}}" type="button" role="tab" aria-controls="partners-tab-pane-{{term.id}}" aria-selected="false">Partners</button>
                </li>
                {% endif %}
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="team-tab-{{term.id}}" data-bs-toggle="tab" data-bs-target="#team-tab-pane-{{term.id}}" type="button" role="tab" aria-controls="team-tab-pane-{{term.id}}" aria-selected="false">Team</button>
                </li>
              </ul>
              <div class="tab-content" id="arcx-tabs-content-{{term.id}}">
                <div class="tab-pane fade p-3 show active" id="project-tab-pane-{{term.id}}" role="tabpanel" aria-labelledby="project-tab-{{term.id}}" tabindex="0">
                  {{ content.description.0 }}
                </div>
                {# hide for Transversal #}
                {% if term.id != 935 %} 
                <div class="tab-pane fade p-3" id="partners-tab-pane-{{term.id}}" role="tabpanel" aria-labelledby="partners-tab-{{term.id}}" tabindex="0">
                  <div class="contextual-region">
                    {{ drupal_contextual_links('entity.view.edit_form:view=partner_organizations&display_id=block_2:') }}
                    {{ drupal_view('partner_organizations', 'block_2', term.id) }}
                  </div>
                </div>
                {% endif %}
                <div class="tab-pane fade p-3" id="team-tab-pane-{{term.id}}" role="tabpanel" aria-labelledby="team-tab-{{term.id}}" tabindex="0">
                  <div class="contextual-region">
                    {{ drupal_contextual_links('entity.view.edit_form:view=team&display_id=block_1:') }}
                    {{ drupal_view('team', 'block_1', term.id) }}
                  </div>
                </div>
              </div>

              <a href="{{ url }}" class="btn btn-lg btn-primary btn-discover">Discover More</a>
            </div>
        </div>
    </div>
</div>