{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}

{# I use the URL here as it's a little shorter and has no spaces #}
{% set rcoe_name = url %}

{% if rcoe_name in ["/RCoEs_oceans", "/RCoEs_Climate_resilience", "/RCoEs_Energy", "climate-disaster-resilience"]  %}
<div class="responsive-circle mb-3 text-white disabled-circle" data-bs-toggle="tooltip" title="Action starting in 2025" style="border: 5px solid {{ content.field_rcoe_color.0 }};">
  {{ title_prefix }}
  <div class="responsive-circle-content px-4 text-center">
      <i class="h1 {{ content.field_rcoe_icon.0 }}"></i>
      {{ name }}
  </div>
  {{ title_suffix }}
</div>
{% else %}
<a class="text-white" href="{{ url }}">
<div class="responsive-circle mb-3" style="border: 5px solid {{ content.field_rcoe_color.0 }};">
  {{ title_prefix }}
  <div class="responsive-circle-content px-4 text-center">
      <i class="h1 {{ content.field_rcoe_icon.0 }}"></i>
      {{ name }}
  </div>
  {{ title_suffix }}
</div>
</a>
{% endif %}
