{{ attach_library( 'biopama_landingpage/biopama_search_block' ) }}
<div class="container">
    <h1>Go to:</h1>
    <div class="p-3 bg-gray-1200" id="searchTabs">
        <ul id="searchTabs" class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active p-3 fs-3" id="country-search-tab" data-bs-toggle="pill" data-bs-target="#country-search" type="button" role="tab" aria-controls="country-search" aria-selected="true">Country</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link p-3 fs-3" id="pa-search-tab" data-bs-toggle="pill" data-bs-target="#pa-search" type="button" role="tab" aria-controls="pa-search" aria-selected="false">Protected Area</button>
            </li>
        </ul>
    </div>
    <div class="tab-content p-5 bg-gray-1200" id="searchTabContent">
        <div class="tab-pane fade show active" id="country-search" role="tabpanel" aria-labelledby="country-search-tab">
            <div id="biopama-country-search">
                <select id="country-selector" data-placeholder="Choose a country..." class="biopama-country-selector chosen-select form-control text-bg-dark">
                    <option value="" disabled="" selected="">Select a country</option>
                    <option value="DZ">Algeria</option>
                    <option value="AO">Angola</option>
                    <option value="BJ">Benin</option>
                    <option value="BW">Botswana</option>
                    <option value="BF">Burkina Faso</option>
                    <option value="BI">Burundi</option>
                    <option value="CM">Cameroon</option>
                    <option value="CV">Cape Verde</option>
                    <option value="CF">Central African Republic</option>
                    <option value="TD">Chad</option>
                    <option value="KM">Comoros</option>
                    <option value="CG">Congo</option>
                    <option value="CD">Democratic Republic of The Congo</option>
                    <option value="DJ">Djibouti</option>
                    <option value="EG">Egypt</option>
                    <option value="GQ">Equatorial Guinea</option>
                    <option value="ER">Eritrea</option>
                    <option value="SZ">Eswatini</option>
                    <option value="ET">Ethiopia</option>
                    <option value="TF">French Southern and Antarctic Lands</option>
                    <option value="GA">Gabon</option>
                    <option value="GM">Gambia</option>
                    <option value="GH">Ghana</option>
                    <option value="GN">Guinea</option>
                    <option value="GW">Guinea-Bissau</option>
                    <option value="CI">Ivory Coast</option>
                    <option value="KE">Kenya</option>
                    <option value="LS">Lesotho</option>
                    <option value="LR">Liberia</option>
                    <option value="LY">Libya</option>
                    <option value="MG">Madagascar</option>
                    <option value="MW">Malawi</option>
                    <option value="ML">Mali</option>
                    <option value="MR">Mauritania</option>
                    <option value="MU">Mauritius</option>
                    <option value="MA">Morocco</option>
                    <option value="MZ">Mozambique</option>
                    <option value="NA">Namibia</option>
                    <option value="NE">Niger</option>
                    <option value="NG">Nigeria</option>
                    <option value="RW">Rwanda</option>
                    <option value="SH">Saint Helena, Ascension and Tristan Da Cunha</option>
                    <option value="SN">Senegal</option>
                    <option value="SC">Seychelles</option>
                    <option value="SL">Sierra Leone</option>
                    <option value="SO">Somalia</option>
                    <option value="ZA">South Africa</option>
                    <option value="SS">South Sudan</option>
                    <option value="SD">Sudan</option>
                    <option value="ST">São Tomé and Príncipe</option>
                    <option value="TG">Togo</option>
                    <option value="TN">Tunisia</option>
                    <option value="UG">Uganda</option>
                    <option value="TZ">United Republic of Tanzania</option>
                    <option value="EH">Western Sahara</option>
                    <option value="ZM">Zambia</option>
                    <option value="ZW">Zimbabwe</option>
                </select>
            </div>
        </div>
        <div class="tab-pane fade" id="pa-search" role="tabpanel" aria-labelledby="pa-search-tab">
            <div class="contextual-region">
                {{ drupal_contextual_links('entity.view.edit_form:view=protected_area_search&display_id=block_1:') }}
                {{ drupal_view('protected_area_search', 'block_1') }}
            </div>
        </div>
        <div class="search-info text-align-right">
        To make a selection from a map visit the <a href="/conservation_tracking" target="_blank">Conservation Tracking Module</a>
        </div>
    </div>
</div>