{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.top_header_form: Items for the top header form region.
 * - page.header: Items for the header region.
 * - page.header_form: Items for the header form region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme variables:
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 * - sidebar_first_attributes: Items for the highlighted region.
 * - sidebar_second_attributes: Items for the primary menu region.
 *
 * @see template_preprocess_page()
 * @see bootstrap_barrio_preprocess_page()
 * @see html.html.twig
 */
#}
{{ attach_library( 'biopama_conservation_tracking/ct-page' ) }}
{{ attach_library( 'biopama_conservation_tracking/main' ) }}
{{ attach_library( 'biopama_conservation_tracking/biopama-address-manager' ) }}

{% if is_admin %}
  {% set heightclass = 'screen-vh-admin' %}
{% else %}
  {% set heightclass = 'screen-vh' %}
{% endif %}
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>   
<div id="main" class="container-fluid text-bg-dark">
  {{ page.breadcrumb }}
  <div class="progress m-0 ct-progress-bar">
    <div class="progress-bar progress-bar-striped bg-success  progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="row">
    <div id="menu-container" class="col col-lg-4 p-0 {{ heightclass }}">
      {% include 'ct-menu.html.twig' %}
    </div>
    <div class="col p-0">
          {{ page.content }}
          <div id="map-container" class="{{ heightclass }}">
          </div>
          <div id="iframe-container"></div>
          <button id="close-id-editor" class="btn btn-danger" onclick="closeIdEditor()">Close iD Editor</button>
          <div id="block-indicatorcard" class="col-3 p-0">
            <div class="row m-0">
              <div class="col-1 p-0" aria-label="Close All Layers" onclick="closeIndicatorCards()">
                <div data-bs-toggle="tooltip" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon tooltipified" aria-label="Close all Layers" data-bs-original-title="Close all layers">
                  <i class="fa-solid fa-xmark"></i>
                </div>
              </div>
              <a class="col-1 p-0" data-bs-toggle="collapse" data-bs-target="#block-indicatorcards" aria-expanded="false" aria-controls="block-indicatorcards">
                <div data-bs-toggle="tooltip" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon tooltipified" aria-label="Minimise all layers" data-bs-original-title="Minimise all layers">
                  <i class="fa-solid fa-window-minimize"></i>
                </div>
              </a>
              <div class="col-10 p-0 grab-all d-flex justify-content-between ui-draggable-handle">
                <div class="d-flex align-items-center">
                  All Layers
                </div>
                <div data-bs-toggle="tooltip" class="grab-all ms-auto btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon tooltipified ui-draggable-handle" aria-label="Move" data-bs-original-title="Move">
                  <i class="fa-solid fa-grip-vertical"></i>
                </div>
              </div>
            </div>
            <div class="row m-0">
              <div id="block-indicatorcards" class="p-2 collapse show">
              </div>
            </div>
          </div>
    </div>
  </div>
</div>