{{ attach_library( 'biopama_landingpage/biopama_landingpage' ) }}
{{ attach_library( 'akp/landingpage' ) }}
<div id="akp-landingpage-content" class="container text-white text-align-center mb-5">

  <div class="row align-items-center">
    <div class="col-8 mx-auto"> 
      <div class="landingpage-logo">
        <img src="{{ theme_path }}/images/logo_akp.png"/>
      </div>
    </div>
  </div>

  <div class="container-fluid p-0">
    <div class="h3">
      A gateway to data and information on Africa's social, economic, territorial and environmental development, developed by the Joint Research Centre of the European Commission.
    </div>
    <hr />
    <div>
    This platform features Joint Research Centre (JRC) <a href="/explore_maps">data</a>, <a href="/all_tools">tools</a>, <a href="/partners_list">partnerships</a>, and <a href="/all_stories">stories</a> developed in-house or with African and international partners. It provides a single entry-point to the wealth of European Commission knowledge on Africa and aims to support the European Union (EU) objective of deepening the partnership with Africa.
    </div>
    <div class="row landingpage-icons my-5">
      <div class="col-lg-4 col-md-12">
        <a href="/conservation_tracking" class="align-self-stretch d-flex justify-content-center">
          <div class="text-white">
            <div class="d-inline-flex pulse my-5"><i class="fa-solid fa-layer-group"></i></div>
            <div class="d-flex flex-column justify-content-between align-fix">
              <h4 class="text-white">Browse our collection of geospatial datasets</h4>
              <div class="view-count h1">
                <div class="contextual-region">
                  {{ drupal_contextual_links('entity.view.edit_form:view=indicator_count&display_id=block_1:') }}
                  {{ drupal_view('indicator_count', 'block_1') }}
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-12">
        <a href="/all_stories" class="align-self-stretch d-flex justify-content-center">
          <div class="text-white">
            <div class="d-inline-flex pulse my-5"><i class="fa-solid fa-compass"></i></div>
            <div class="d-flex flex-column justify-content-between align-fix">
              <h4 class="text-white">Discover our interactive stories</h4>
              <div class="view-count h1">
                <div class="contextual-region">
                  {{ drupal_contextual_links('entity.view.edit_form:view=story_count&display_id=block_1:') }}
                  {{ drupal_view('story_count', 'block_1') }}
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-12">
        <a href="/all_tools" class="align-self-stretch d-flex justify-content-center">
          <div class="text-white">
            <div class="d-inline-flex pulse my-5"><i class="fa-solid fa-object-group"></i></div>
            <div class="d-flex flex-column justify-content-between align-fix">
              <h4 class="text-white">Interact with our analytical tools</h4>
              <div class="view-count h1">
                <div class="contextual-region">
                  {{ drupal_contextual_links('entity.view.edit_form:view=tools_count&display_id=block_1:') }}
                  {{ drupal_view('tools_count', 'block_1') }}
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>    
    {# <div class="row my-5">
      <div class="col-lg-4 col-md-12">
        <a href="#topics" class="btn btn-primary w-50 my-1 rounded-1">Search by Topic</a>
      </div>
      <div class="col-lg-4 col-md-12">
        <a href="#sdg-goals" class="btn btn-primary w-50 my-1 rounded-1">Search by SDG</a>
      </div>
      <div class="col-lg-4 col-md-12">
        <a href="/countries" class="btn btn-primary w-50 my-1 rounded-1">Search by Countries</a>
      </div>
    </div> #}
    <div class="row my-5">
      <div class="col-12">
        <input id="akp-search" class="form-control form-control-lg rounded-0 w-100 text-center" type="text" placeholder="Search for datasets, stories and tools">
        <div id="akp-search-results"></div>
      </div>
    </div>
  </div>
</div>

<div id="rcoes" class="container-fluid text-align-center">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-12">
        {{ drupal_block('block_akp_disclaimer') }}
      </div>
    </div>
  </div>
</div>

<div id="whats-new" class="container-fluid">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="h1 text-uppercase text-center">What's new</div>
        <div class="text-center">Discover the latest datasets added or updated</div>
        <div class="contextual-region">
          {{ drupal_contextual_links('entity.view.edit_form:view=new_indicators&display_id=block_1:') }}
          {{ drupal_view('new_indicators', 'block_1') }}
        </div>
      </div>
    </div>
  </div>
</div>
<div id="sdg-goals" class="container-fluid">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="h1 text-uppercase text-center">Sustainable Development Goals</div>
        <div class="text-center">Select a goal to browse the related maps, tools and stories.</div>
        <div class="contextual-region">
          {{ drupal_contextual_links('entity.view.edit_form:view=cards_policies&display_id=block_1:') }}
          {{ drupal_view('cards_policies', 'block_1') }}
        </div>
      </div>
    </div>
  </div>
</div>
<div id="topics" class="container-fluid">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="h1 text-uppercase text-center">Topics</div>
        <div class="text-center">Select a topic to browse related maps, tools and stories.</div>
        <div class="contextual-region">
          {{ drupal_contextual_links('entity.view.edit_form:view=cards_topics&display_id=block_1:') }}
          {{ drupal_view('cards_topics', 'block_1', 'Natural Resources') }}
        </div>
      </div>
    </div>
  </div>
</div>


