{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
<nav id="menu_arcx" class="navbar rounded-5 p-2 d-inline-flex align-items-center w-100 my-3 container">
    {# <div id="menu_arcx_search">
        <i class="fa-solid fa-magnifying-glass mx-3"></i>
    </div> #}
    <div id="menu_arcx_items" class="flex-fill">
    {{ include('bootstrap_barrio:menu', {
        items: items
    })
    }}
    </div>
    {# <div id="menu_arcx_icons" class="me-5">
        <i class="grey-dot d-inline-flex justify-content-center align-items-center rounded-circle fa-brands fa-instagram me-2"></i>
        <i class="grey-dot d-inline-flex justify-content-center align-items-center rounded-circle fa-brands fa-facebook-f me-2"></i>
        <i class="grey-dot d-inline-flex justify-content-center align-items-center rounded-circle fa-brands fa-x-twitter me-2"></i>
        <i class="grey-dot d-inline-flex justify-content-center align-items-center rounded-circle fa-brands fa-linkedin-in me-2"></i>
    </div> #}
    <div id="menu_arcx_logo">
        <a href="/"><img class="me-2" src="{{ theme_path }}/images/logo_akp_sm.png"/></a>
    </div>
</nav>