<div class="container">
    <div class="row justify-content-center">
        <div class="text-center p-5 position-relative">We are the core team behind the development and maintenance of the Africa Knowledge Platform. We thank all JRC colleagues for their support and contribution (to the data layers, tools, stories and partners).</div>
        <div class="card col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-0">
            <img src="{{ theme_path }}/images/team/steve.jpg"  alt="Stephen Peedell" loading="lazy" typeof="Image" class="image-style-medium card-img-top"> 
            <div class="card-body">
                <div class="  card-title h5 text-warning">Stephen Peedell</div>
                <div class="card-text p-2">
                    Project Coordinator
                    {# <div class="text-align-right position-absolute bottom-0 end-0 p-3"><a href="//www.linkedin.com/in/stevebiopama"><i class="fa-brands fa-linkedin-in"></i></a></div> #}
                </div>
            </div>
        </div>

        <div class="card col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-0">
            <img src="{{ theme_path }}/images/team/christine.jpg" alt="Christine Estreguil" loading="lazy" typeof="Image" class="image-style-medium card-img-top">
            <div class="card-body">
                <div class=" card-title h5 text-warning">Christine Estreguil</div>
                <div class="card-text p-2">
                    Lead Content Manager
                    {# <div class="text-align-right position-absolute bottom-0 end-0 p-3"><a href="//www.linkedin.com/in/terhi-takala-7a36a7188"><i class="fa-brands fa-linkedin-in"></i></a></div> #}
                </div>
            </div>
        </div>
        
        <div class="card col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-0">
            <img src="{{ theme_path }}/images/team/luca.jpg" alt="Luca Battistella" loading="lazy" typeof="Image" class="image-style-medium card-img-top">
            <div class="card-body">
                <div class=" card-title h5 text-warning">Luca Battistella</div>
                <div class="card-text p-2">
                    Developer and Data Scientist
                    {# <div class="text-align-right position-absolute bottom-0 end-0 p-3"><a href="//www.linkedin.com/in/mariagrazia-graziano-a85b31163"><i class="fa-brands fa-linkedin-in"></i></a></div> #}
                </div>
            </div>
        </div>
        
        <div class="card col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-0">
            <img src="{{ theme_path }}/images/team/falko.jpg" alt="Falko Buschke" loading="lazy" typeof="Image" class="image-style-medium card-img-top">
            <div class="card-body">
                <div class=" card-title h5 text-warning">Falko Buschke</div>
                <div class="card-text p-2">
                    Content Manager and Communication
                    {# <div class="text-align-right position-absolute bottom-0 end-0 p-3"><a href="//www.linkedin.com/in/claudia-capitani-1a7a9a132"><i class="fa-brands fa-linkedin-in"></i></a></div> #}
                </div>
            </div>
        </div>
        
        <div class="card col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-0">
            <img src="{{ theme_path }}/images/team/michele.jpg" alt="Michele Conti" loading="lazy" typeof="Image" class="image-style-medium card-img-top">
            <div class="card-body">
                <div class=" card-title h5 text-warning">Michele Conti</div>
                <div class="card-text p-2">
                    Infrastructure Admin
                    {# <div class="text-align-right position-absolute bottom-0 end-0 p-3"><a href="//www.linkedin.com/in/michele-conti-39349694"><i class="fa-brands fa-linkedin-in"></i></a></div> #}
                </div>
            </div>
        </div>

        <div class="card col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-0">
            <img src="{{ theme_path }}/images/team/paolo.jpg" alt="Paolo Roggeri" loading="lazy" typeof="Image" class="image-style-medium card-img-top">
            <div class="card-body">
                <div class=" card-title h5 text-warning">Paolo Roggeri</div>
                <div class="card-text p-2">
                    Community Outreach
                    {# <div class="text-align-right position-absolute bottom-0 end-0 p-3"><a href="//www.linkedin.com/in/paolo-roggeri-18341b6"><i class="fa-brands fa-linkedin-in"></i></a></div> #}
                </div>
            </div>
        </div>
        
        <div class="card col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-0">
            <img src="{{ theme_path }}/images/team/james.jpg" alt="James Davy" loading="lazy" typeof="Image" class="image-style-medium card-img-top">
            <div class="card-body">
                <div class=" card-title h5 text-warning">James Davy</div>
                <div class="card-text p-2">
                    Application Architect &amp; Lead Developer
                    {# <div class="text-align-right position-absolute bottom-0 end-0 p-3"><a href="//www.linkedin.com/in/james-davy-05689b17"><i class="fa-brands fa-linkedin-in"></i></a></div> #}
                </div>
            </div>
        </div>

    </div>
</div>
