{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile') }}>
  {% if content %}aaa
    {{- content -}}
  {% endif %}
</article>
{# {{dump(content.user_picture)}} #}
{# {{user[0]['#values'].user_picture }} #}
{# {{ file_url( content.user_picture[0]['#media'] ) }} #}

{# <div class="card col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-0">
    <img src="{{content.user_picture }}"  alt="{{content.field_first_name}} {{content.field_last_name}}" loading="lazy" typeof="Image" class="image-style-medium card-img-top"> 
    <div class="card-body">
        <div class="  card-title h5 text-warning">{{content.field_first_name}} {{content.field_last_name}}</div>
        <div class="card-text p-2">
            Project Coordinator
            <div class="text-align-right position-absolute bottom-0 end-0 p-3"><a href="//www.linkedin.com/in/stevebiopama"><i class="fa-brands fa-linkedin-in"></i></a></div>
        </div>
    </div>
</div> #}