{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'chart-series',
  ]
%}
{% apply spaceless %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="chart-json">
      {{'{"label":"'}}{{content.field_chart_series_label.0}}{{'", "name":"'}}{{content.field_chart_series_name.0}}{{'", "data":"'}}{{content.field_chart_series_rest_field.0}}{{'", "label_from_rest":"'}}{{content.field_chart_series_label_rest.0}}{{'"}'}}
    </div>
  </div>
{% endif %}
{% endapply %}